body{
    background-color: black;
}

.navbar-brand{
    color: white;
}   

i{
background-color: aqua;
height: 30px;
}

.icono{
    color: white;
    font-size: 30px;
}

p{
    text-align: center;
    color: white;
}

div h2{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}
