body{
    background-color: black;
}

.navbar-brand{
    color: white;
}   

i{
background-color: aqua;
height: 30px;
}

.icono{
    color: white;
    font-size: 30px;
}

div h2{
    color: white;
    
}

hr{
    color: beige;
}
